<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.imple.language.mapper.LanguageMapper">
<select id="countAll">
	select count(*) from countrylanguage
</select>

<select id="selectAll">
	select * from countrylanguage
</select>

<!-- <select id="selectAllWithCountry"  resultMap="withCountryResultMap"> -->
<!-- 	select * from countrylanguage -->
<!-- </select> -->

<select id="selectPage">
	select * from countrylanguage
</select>

<select id="selectByCode">
	select * 
	 from countrylanguage
	where countryCode = #{code} 
</select>

<select id="selectByLanguage">
	select * 
	 from countrylanguage
	where language = #{language} 
</select>

<!--     <resultMap id="countryLanguageResultMap" type="com.example.imple.language.model.Language"> -->
<!--         <result property="countryCode" column="countryCode"/> -->
<!--         <result property="language" column="language"/> -->
<!--         Add other properties if needed -->
<!--     </resultMap> -->
<!-- <select id="selectByCodeAndLanguage" resultMap="countryLanguageResultMap"> -->
<!--     SELECT * -->
<!--     FROM countrylanguage -->
<!--     WHERE countryCode = #{countryCode} -->
<!--     AND language = #{language} -->
<!-- </select> -->

<select id="selectByCodeAndLanguage">
    SELECT *
    FROM countrylanguage
    WHERE countryCode = #{code}
    AND language = #{language}
</select>



</mapper>